{% extends "tasks/base.html" %} {% block title %}Delete Project | Django Task
Manager{% endblock %} {% block content %}
<section class="form-card">
  <h1>Delete Project</h1>

  <p>Are you sure you want to delete "{{ project.name }}"?</p>

  <form method="post">
    {% csrf_token %}

    <div class="actions">
      <button type="submit" class="button-danger">Yes, Delete</button>
      <a
        href="{% url 'tasks:project_detail' project.pk %}"
        class="button-secondary"
        >Cancel</a
      >
    </div>
  </form>
</section>
{% endblock %}
